<!-- to display question and answer -->
<blockquote>
  <h2><%= @question %></h2>
</blockquote>
<blockquote class="whatever">
  <h1><%= @answer %></h1>
</blockquote>

<%= link_to "Ask another question", ask_path %>

